# Entorno virtual
venv/

# Airflow
logs/
plugins/
standalone_admin_password.txt

# Datos (pesados, no deben ir al repo)
data/raw/*.csv
data/processed/*.csv

# Python
__pycache__/
*.pyc

# Variables de entorno
.env